// $happy-prefix: 'happy';

// $space-prefix-cls: #{$happy-prefix}-space;
// $space-item-prefix-cls: #{$happy-prefix}-space-item;

// .#{$space-prefix-cls} {
//   display: inline-flex;

//   &-vertical {
//     flex-direction: column;
//   }

//   &-align {
//     &-center {
//       align-items: center;
//     }

//     &-start {
//       align-items: flex-start;
//     }

//     &-end {
//       align-items: flex-end;
//     }

//     &-baseline {
//       align-items: baseline;
//     }
//   }
// }

// .#{$space-prefix-cls} {
//   &-rtl {
//     // 设置文本方向
//     direction: rtl;
//   }
// }

.happy-space {
  display: inline-flex;
}
.happy-space-vertical {
  flex-direction: column;
}
.happy-space-align-center {
  align-items: center;
}
.happy-space-align-start {
  align-items: flex-start;
}
.happy-space-align-end {
  align-items: flex-end;
}
.happy-space-align-baseline {
  align-items: baseline;
}
.happy-space-rtl {
  direction: rtl;
}
