// 有前缀后缀时的样式处理
.happy-input-group {
  display: inline-flex;
  // width: 100%;
  // 当有前缀和后缀时, input 的 border-radius 是 0
  .happy-input:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  // 当只有后缀时
  .happy-input:first-child {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
  // 当只有前缀时
  .happy-input:last-child {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
  // 前缀后缀的样式
  .happy-input-group-addon {
    color: rgba(0, 0, 0, 0.88);
    display: flex;
    align-items: center;
    padding: 0 11px;
    width: 1px;
    white-space: nowrap;
    width: max-content;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.02);
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    transition: all 0.3s;
    line-height: 1;
  }
  .happy-input-group-addon:first-child {
    border-inline-end: 0;
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
  .happy-input-group-addon:last-child {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    border-inline-start: 0;
  }
}
// 当需要现实内容长度时的样式, 此时 input 和 内容长度会被包裹在 .happy-input-affix-group 中, 需要兼容带有前后缀时的样式
.happy-input-affix-wrapper {
  .happy-input-affix-group {
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    padding: 4px 11px;
    display: inline-flex;
    align-items: center;
    .happy-input {
      padding: 0;
      border: 0;
    }
    .happy-input:not(:disabled):not(.happy-input-disabled):not(
        .happy-input-no-bordered
      ):focus {
      box-shadow: none;
    }
    .happy-input-suffix {
      margin-inline-start: 4px;
      color: rgba(0, 0, 0, 0.45);
      font-size: 14px;
    }
  }
  .happy-input-affix-group:not(:last-child) {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
  .happy-input-affix-group:not(:first-child) {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
  .happy-input-affix-group:not(:first-child):not(:last-child) {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
}
// input  textarea 的默认样式
.happy-input,
.happy-textArea {
  box-sizing: border-box;
  margin: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  background-color: #ffffff;
  background-image: none;
  transition: all 0.2s;
}
// 不是 disabled 时的 hover 和 focus
.happy-textArea:not(:disabled):not(.happy-textArea-disabled):hover,
.happy-textArea:not(:disabled):not(.happy-textArea-disabled):focus
  .happy-input:not(:disabled):not(.happy-input-disabled):hover,
.happy-input:not(:disabled):not(.happy-input-disabled):focus {
  border-color: #4096ff;
}
.happy-input:not(:disabled):not(.happy-input-disabled):not(
    .happy-input-no-bordered
  ):focus {
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  outline: 0;
}
.happy-textArea:not(:disabled):not(.happy-textArea-disabled):not(
    .happy-textArea-no-bordered
  ):focus {
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  outline: 0;
}
// 不要边框
.happy-input-no-bordered,
.happy-input-no-bordered:hover,
.happy-input-no-bordered:focus {
  border: 0;
}
.happy-input-no-bordered:focus {
  box-shadow: none;
  outline: 0;
}
//禁用
.happy-input-disabled,
.happy-input-disabled:hover {
  border-color: #d9d9d9;
}
.happy-input-disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}
//size大小
.happy-input-lg {
  padding: 7px 11px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 8px;
}
.happy-input-sm {
  padding: 0px 7px;
  border-radius: 4px;
}
//文本域
.happy-textArea-group {
  position: relative;
  padding-bottom: 15px;
  .happy-textArea-suffix {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
